@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import "~rfs/scss";

/* Layout Breakpoints
-----------------------*/

$layout-breakpoint-small: 576px;
$layout-breakpoint-medium: 768px;
$layout-breakpoint-large: 992px;
$layout-breakpoint-xtra-large: 1200px;

/* Containers 
-----------------------*/
html {
    overflow-x: hidden;
}
body {
    margin: 0;
}
.container {
    max-width: 100% !important;
    margin: auto !important;
}
.secondary.container {
    padding: 0 .6275rem;
}
@media screen and (min-width:$layout-breakpoint-large) {
    .secondary.container{
        padding: 0 1.25rem;
    }
}
/* Font Variables
-----------------------*/

$primary-font-family: 'Pacifico',sans-serif;
$secondary-font-family: 'Lato', serif;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/* Theme colors
-----------------------*/
$main-color: #10504F !default;

$color-white: #FFFFFF !default;

$color-black: #000000 !default;

.main-color { 
    color: $main-color !important;
}
.white { 
    color: $color-white !important;
}
.black { 
    color: $color-black !important;
}
.main-color-bg { 
    background-color: $main-color !important;
}
.white-bg { 
    background-color: $color-white !important;
}
.black-bg { 
    background-color: $color-black !important;
}
.transparent-bg {
    background-color: transparent !important;
}

/* Theme Titles 
-----------------------*/
.header-title {
    @include font-size(3.75rem);
}
.header-title {
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
    &.section-title {
        color: $color-black;
    }
}
h2 {
    font-weight: normal;
}
.secondary-text {
    font-family: $secondary-font-family;
}

/* Buttons
-----------------------*/

button, .button {
    font-family: $secondary-font-family;
    color: $color-white;
    text-transform: uppercase;
    @include font-size(1rem);
    padding: .9rem 1.65rem;
    border: none;
}

/* Universal Section Rules
------------------------*/
